<div id="footer" class="clearfix sidebar-page right-sidebar-page">
    <p class="pull-left">
        &copy; 2023 <a href="https://github.com/cwbrodrigo/Cooperchip.Demo" class="color-blue strong" target="_blank">Rodrigo Fleischfresser</a>. Todos os direitos reservados
    </p>
    <p class="pull-right">
        <a href="#" class="mr5">Termos de uso</a>
        |
        <a href="#" class="ml5 mr25">Pollítica de privacidade</a>
    </p>
</div>