


<li>
    <a asp-controller="Home" asp-action="Index"><i class="l-basic-home"></i><span class="txt">Home</span></a>
</li>

<li>
    <a asp-controller="Home" asp-action="Dashboard"><i class="l-basic-laptop"></i><span class="txt">Dashboard</span></a>
</li>

<li>
    <a href="#"><i class="l-ecommerce-graph1"></i> <span class="txt">Cadastro</span></a>
    <ul class="sub">
        <li>
            <a asp-controller="Paciente" asp-action="Index"><i class="l-basic-archive"></i><span class="txt">Pacientes</span></a>
        </li>
        <li>
            <a asp-controller="EstadoPaciente" asp-action="Index"><i class="l-basic-archive"></i><span class="txt">Estado Paciente</span></a>
        </li>
    </ul>