@{
    @model PacienteViewModel
    ViewData["Title"] = "Detalhes do Paciente";
}

@await Component.InvokeAsync("Cabecalho", new { title = "Dashboard", subTitle="Estatísticas e Marcadores do Sistema"})

<div class="panel panel-success panel-controls">

    <div class="panel panel-heading">
        <h3>Detalhes do Paciente</h3>
    </div>

    <div class="panel panel-body">
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(x => x.Nome)
            </dt>
            <dd>
                @Html.DisplayFor(x => x.Nome)
            </dd>
        </dl>
        <div>
            <a class="btn btn-success" asp-controller="Paciente" asp-action="Edit" asp-route-id="@Model.Id">Editar</a>
            <a class="btn btn-info" asp-controller="Paciente" asp-action="Index" class="btn btn-default">Voltar para Lista</a>
        </div>
    </div>

</div>