@{
    ViewData["Title"] = "Lista de pacientes";
}

@await Component.InvokeAsync(
    "Cabecalho",
new { title = "Dashboard", subTitle="Estatísticas e Marcadores do Sistema"}
)

<partial name="PartialViews/_estado_paceinte" />

<div class="panel panel-success panel-controls">
    <div class="panel panel-heading">
        <h3>Lista de Pacientes</h3>
    </div>
</div>