@{
    ViewData["Title"] = "Lista de pacientes";
}

<partial name="PartialViews/_cabecalho" />

<div class="panel panel-success panel-controls">
    <div class="panel panel-heading">
        <h3>Lista de Pacientes</h3>
    </div>
</div>