@{
    ViewData["Title"] = "Lista de Paciente";
}

@await Component.InvokeAsync("Cabecalho", new { title = "Dashboard", subTitle="Estatísticas e Marcadores do Sistema"})

<div class="panel panel-success panel-controls">
    <div class="panel panel-heading">
        <h3>Lista de Paciente</h3>
    </div>
</div>
