@{
    @using Cooperchip.Demo.Domain.Entities;
    @model EstadoPaciente
    ViewData["Title"] = "Detalhes de Estado do Paciente";
}

@await Component.InvokeAsync("Cabecalho", new { title = "Dashboard", subTitle="Estatísticas e Marcadores do Sistema"})

<div class="panel col-md-8 panel-controls">

    <div class="panel panel-heading" style="background-color: #74C22A">
        <h3>Detalhes de Estado do Paciente</h3>
    </div>

    <div class="panel panel-body">
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(x => x.Descricao)
            </dt>
            <dd>
                @Html.DisplayFor(x => x.Descricao)
            </dd>
        </dl>
        <div>
            <a class="btn btn-success" asp-controller="EstadoPaciente" asp-action="Edit" asp-route-id="@Model.Id">Editar</a>
            <a class="btn btn-info" asp-controller="EstadoPaciente" asp-action="Index" class="btn btn-default">Voltar para Lista</a>
        </div>
    </div>

</div>