<div class="col-lg-4 ">
    <div class="panel panel-default plain">
        <div class="panel-heading">
            <h4 class="panel-title"><i class="glyphicon glyphicon-user"></i> Experiência do Usuário</h4>
        </div>
        <div class="panel-body">
            <div class="text-center">
                <div id="customer-exp" class="custom-progressbar blue" style="width:244px;height:244px;">
                    <div class="percent">
                        80<span>%</span>
                    </div>
                    <div class="description">Satisfação</div>
                </div>
            </div>
        </div>
    </div>
</div>